.contact-positioner {
  position: fixed;
  z-index: 5;
  right: 40px;
  bottom: 40px;
}

#rotating-name {
  height: 100px;
  width: 100px;
}

.color-blue {
  fill: $darkblue;
  transition: 0.3s;
}

.color-white {
  fill: $white;
  transition: 0.3s;
}

.color-green {
  fill: $green;
  transition: 0.3s;
}

.stroke-blue {
  stroke: $darkblue;
  transition: 0.3s;
}

.stroke-white {
  stroke: $white;
  transition: 0.3s;
}

.stroke-green {
  stroke: $green;
  transition: 0.3s;
}

.svg-text {
  font-weight: 400;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;

}
.md-text {
  font-family: 'Cormorant', serif;
  font-weight: 100;
  margin-bottom: 5px;
}
