.follow-violeta {
  & > h1 {
    font-family: $cormorant;
    color: $white;
    font-size: 72px;
    font-weight: 600;
    line-height: 110%;
  }
}

.custom-timeline {
  width: 800px;
}

.twitter-widget-0 {
  color: white;
}
