@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

$green: #06d6a0;

.navbar{
  width:100vw;
  height:100px;
  border-bottom:2px solid $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.z-index {
  // position: relative;
  z-index:-1;
}

.sticky-nav {
  position: sticky;
  top:0;
}

.nav-link {
  font-family: 'Playfair Display', serif;
  font-weight: regular;
  border: 1px solid $green;
  border-radius:2px;
  margin: 10px;
  padding: 7px 10px;
  text-decoration: none;
  background-color: white;
  color: $green;
  font-weight: medium;
  transition: 0.2s;
  &:hover{
    background: $green;
    color:white;
  }
}

.nav-link-group {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.nav-logo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #06d6a0;
  margin-left: 10px;
  position: fixed;
  z-index: -2;
  left: -50px;
}

.nav-logo-text {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
    width: 500px;
    color: #073b4c;
    padding-top: 15px;
    z-index: 1;
  }
